body{
    font-family: 'Poppins', sans-serif;
    margin:0
}

h1{

font-size: 50px;

}

.color-name{

    color:orange
}

.half-width{width:40%;
float: left;
margin-left:5%;
padding-left:2%;}

.half-width img{width:100%}

.banner-photo{background-image: url("images/top-banner.png");
background-repeat: no-repeat;}

section{

    height:500px;
    padding-bottom: 150px;
}

.button{text-decoration:none;
        padding:10px 20px;
        background-image: linear-gradient(45deg,lightsalmon,tomato);
        font-weight:bold;
        color:white;
        border-radius: 5px
        ;}

.coloring-name{color:tomato}

h2{
    font-size: 40px;
}

p{
    color:dimgray
}

	

.dream-section{background-image: url(images/dream-bg.png);
background-repeat: no-repeat;background-position:right ;}

.experience-section{
    box-shadow: 10px 10px 40px gray;
    background-color: white;
    border-radius: 5px;
    height:80%
}

.box-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#border-one{border-left:7px solid;
             border-image: linear-gradient(180deg,lightsalmon,tomato);
            border-image-slice: 1;}

#border-two {border-left:7px solid;
    border-image: linear-gradient(180deg,cyan,blue);
    border-image-slice: 1;}    
    
    footer p{
        font-size: 15px;
        text-align: center;
    }